/* Map container holding all maps */
.map-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  height: 31vh; /* Use 60% of the viewport height for maps */
}

/* Individual map styling */
.map {
  width: 45%; /* Ensure maps are 45% of the available width */
  height: 100%; /* Ensure maps take full height of the container */
  border: 1px solid #ddd;
}

#d3-map2 {
  width: 100%;
  height: 100%;  /* Match the container's height */
}


.state {
  stroke: #fff;
  stroke-width: 1;
}
